<script type="text/template" id="item-template">
  <div class="view">
    <a href="<%= job_url %>"><%= job_name %></a>
  </div>
  <input class="edit" value="<%= title %>">
</script>
<script type="text/template" id="item-edit-template">
  <div class="view">
    <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
    <label><%= title %></label>
    <button class="destroy"></button>
  </div>
  <input class="edit" value="<%= title %>">
</script>
<script type="text/template" id="item-template">
  <div class="col-md-4 single_set">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="show_link" href="#">show</a>
        <a class="update_link" href="#">update</a>
      </div>
      <div class="panel-body">
        <div class="bs-callout bs-callout-info set_jobs"></div>
      </div>
    </div>
  </div>
</script>
<div class="container" id="app">
  <div class="row">
  </div>
  <input id="toggle-all" type="checkbox">
  <label for="toggle-all">Select All</label>
</div>



